.slide11{
    height:15rem;
    background-color: white;
    border: 10px solid rgb(242, 242, 242);
    border-radius: 30px;
    padding-left: 10px;
    padding-top: 10px;
    display: -webkit-box;
     -webkit-box-orient: vertical;
     overflow: hidden !important;
     box-orient: vertical;
     gap: 15px;
}
.span22{
    color: rgb(61, 61, 61);
    margin-bottom: 5px;
    font-size: small;
}
h6{
    font-size: 14px;
    font-weight: bold !important;
    color: black !important;

}
.h7{
    color: rgb(89, 86, 86);
    font-size: medium !important;
}
@media screen and (max-width:"768px") {
    .slide11{
        height: 25vh !important; 
    }

}