*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.news{
    overflow: hidden;
    color: black;
}
.newspage{
    margin-top: 10rem;
}
.mainnewssection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
#minydivs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}
.minydiv{
    width: 130px;
    height: 60px;
    margin: 0 5px;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(227, 183, 87);
    &:hover{
       background-color: white;
       border: 5px solid rgb(227, 183, 87);
    }
}
.newscontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.newsh{
    font-weight: bold;
    margin-top: 1rem;
}
.newsline{
    width:8rem;
    height: 0.5rem;
    background-color:rgb(227, 183, 87);
    border-radius: 3px;
}

#newsimg{
    object-fit: cover !important;
    position: center !important;
    repeat: no-repeat !important;
    height: 70vh !important;
}

.newslink{
    text-decoration: none;
    color:rgb(151, 149, 149);
    &:hover{
        text-decoration: underline;
        color: black;
    }
}
.newstexts1{
    margin-top: 1rem !important;
    font-weight: 900;
    line-height: 25px !important;
    font-size: 1rem;
}
@media screen and (min-width: 100px) and (max-width: 767px){
    b{
        font-size: 1.2rem;
    }
    .newsh{
        font-size: 25px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
   .newsh{
    font-size: 30px !important;
   }
}